.registro-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-image: url("./Fotos/chica.PNG");
    background-size: repeat;
  } */
}
.registro-content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.registro-content input {
  width: 60%;

  border: 1px solid #b7c4e9;
  color: #432b51;
  background: #d4dcf2;
  height: 25px;
  font-family: "Nunito";
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  margin-top: 15px;
}
.registro-content button {
  width: 75px;
  height: 25px;
  border-radius: 10%;
  border: 0.5px solid #432b51;
  background: #757f9a;
  /* background-size: 106px; */
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.17);
  margin-top: 10px;
}
.registro-content label {
  color: black;
}
.registro-content label:hover {
  color: #757f9a;
}
